<!DOCTYPE html>
<html lang="en">

<head>

    <title>Senate Overview</title>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" integrity="sha384-PmY9l28YgO4JwMKbTvgaS7XNZJ30MK9FAZjjzXtlqyZCqBY6X6bXIkM++IkyinN+" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap-theme.min.css" integrity="sha384-jzngWsPS6op3fgRCDTESqrEJwRKck+CILhJVO5VvaAZCq8JYf8HsR/HPpBOOPZfR" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="../styleSheets/CSS_TGIF.css">


</head>

<body>
    <div class="container">



       <header>
            <div class="jumbotron text-center contanier-fluid img-circle container" style="background: transparent">
            <div class="row">
                <img src="../images/BIG%20LOGO.jpg" width="200" height="180" class="d-inline-block align-top col-lg-3 align-bottom img-circle" alt="TGIF Logo">

                <div class="page-header col-lg-8 align-bottom">
                    <h1>Transparent Government in Fact</h1>


                </div>
               <div class="emailLogo align-bottom"><p> 
                <a class="mail glyphicon-envelope col-lg-1" href="mailto:info@tgif.net" target="_top">info@tgif.net</a></p></div>

            </div>
        </div>
</header>


        
            <nav class="navbar navbar-dark bg-dark  navbar-inverse ">

                <div class="navbar-header">
                    <a class="navbar-brand" href="#">TGIF</a>
                </div>

                <ul class="nav navbar-nav">
                    <li><a href="../html_starter_pages/Index.html">Home</a></li>

                    <li class="dropdown active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Congress 113
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li class='active'><a href="../html_starter_pages/senatePage.html">Senate</a></li>
                            <li><a href="../html_starter_pages/housePage.html">House</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Attendance
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="../html_starter_pages/senate_attendance.html">Senate</a></li>
                            <li><a href="../House_Party_Attendance.html">House</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Party Loyalty
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="../html_starter_pages/senate_party-loyalty.html">Senate</a></li>
                            <li><a href="../html_starter_pages/House_Party_Loyalty.html">House</a></li>
                        </ul>
                    </li>
                </ul>

            </nav>


            <hr>

                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 content">
                            <h2>Senators</h2>
                            <p>First convened in 1789, the composition and powers of the Senate are established in Article One of the U.S. Constitution. Each state is represented by two senators, regardless of population, who serve staggered six-year terms. The Senate has several exclusive powers not granted to the House, including consenting to treaties as a precondition to their ratification and consenting to or confirming appointments of Cabinet secretaries, federal judges, other federal executive officials, military officers, regulatory officials, ambassadors, and other federal uniformed officers, as well as trial of federal officials impeached by the House.</p>
                        </div>
                    </div>
                </div>



                 <div class="row">
           <div class="col-lg-1">
           <label>
            <input type="checkbox" name="partyAffiliation" value="D" id="democrat" onclick="boxIsClicked();">
            <p>Democrat</p></label>
            </div>
            <div class="col-lg-1"><label>
            <input type="checkbox" name="partyAffiliation" value="R" id="republican" onclick="boxIsClicked();">
            <p>Republican</p></label>
            </div>
            
            <div class="col-lg-1">
         <label><input type="checkbox" name="partyAffiliation" value="I" id="independent" onclick="boxIsClicked();">
            <p>Independent</p></label>
            </div>
        </div>

            <div id="loader"></div>

            <div id="loaderDiv" class="animate-bottom">
                <div id="app">
                    <table class="table table-bordered table-hover text-center table-condensed">
                        <thead>
                            <tr>
                                <th>Full Name</th>

                                <th>Party</th>


                                <th><select id="stateDropDown" onchange="boxIsClicked()">
                                        <option value="All States" selected>All States</option>
                                    </select>


                                </th>
                                <th>seniority</th>
                                <th>% Votes with party</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in filteredMembers">
                                <td class="fixedTable"><a href="item.url" target="_blank"> {{item.first_name}} {{item.middle_name || " "}} {{item.last_name}}</a></td>

                                <td>{{item.party}}</td>
                                <td>{{item.state}}</td>
                                <td>{{item.seniority}}</td>
                                <td>{{item.votes_with_party_pct + "&#x25;"}}</td>

                            </tr>
                        </tbody>
                    </table>

        <div class="notificationContainer">
        <div class="notification is-danger" v-if="filteredMembers.length == 0"><p>
          No membesr match your search criteria. Try to change State or Party to solve it.</p>
        </div>
      </div>


                </div>
                <div class="container">

                    <footer class="panel-footer">
                        <div class="container">
                            <div class="footer-copyright text-center py-3">©2016 TGIF | All Rights Reserved</div>
                        </div>
                    </footer>
                </div>
            </div>


            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
            <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
            <!-- Include all compiled plugins (below), or include individual files as needed -->
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js" integrity="sha384-vhJnz1OVIdLktyixHY4Uk3OHEwdQqPppqYR8+5mjsauETgLOcEynD9oPHhhz18Nw" crossorigin="anonymous"></script>

            <script src="https://unpkg.com/vue/dist/vue.js"></script>
            <script src="../Java_Script_files/main.js"></script>

        </div>
</body>

</html>